<div class="mx-auto card text-center" style="width: 600px;">
  <h2 class="card-header">Log in</h2>
  <div class="mx-auto p-4" style="width: 100%;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-outline mb-4">
        <% f.label :email %><br /><br />
        <%= f.email_field :email, class: "form-control", placeholder:"Username", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field form-outline mb-4">
        <% f.label :password %>
        <%= f.password_field :password, class: "form-control", placeholder:"Password", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field"><br />
          <% f.check_box :remember_me %>
          <% f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions d-flex justify-content-center">
        <br />
        <%= f.submit "Log in", class: "self-align-center btn btn-primary btn-block mb-4 w-100" %>
      </div>
    <% end %>
  </div>
</div>


<% render "devise/shared/links" %>
